/* .main-container {
    padding: 10px;
} */

/* Material Styles */
.btn-mat {
  position: relative;
  padding: 8px;
  margin: 30px auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  background-color: #2eb4cc;
  color: #ecf0f1;
  transition: background-color .3s;
  border-radius: 5px;
}
.btn-mat.lite {
  background-color: #80c8e4;;
}
.btn-mat:hover, .btn-mat:focus {
  background-color: #2EB4F2;
  border: 0;
}
button:focus {
	outline: 0;
}

.btn-mat > * {
  position: relative;
}

.btn-mat span {
  display: block;
  padding: 12px 24px;
}

.btn-mat:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-mat:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn-mat.orange {
  background-color: #e67e22;
}

.btn-mat.orange:hover, .btn-mat.orange:focus {
  background-color: #d35400;
}

.btn-mat.red {
  background-color: #e74c3c;
}

.btn-mat.red:hover, .btn-mat.red:focus {
  background-color: #c0392b;
}


/* select starting stylings ------------------------------*/
.select {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 350px;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 350px;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #2F80ED;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 350px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


.brise-input {
	width: 300px;
	position: relative;
	margin: 5px;
	overflow: hidden;
	padding-top: 15px;
}
.brise-input input {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	border-bottom: 1px solid #999;
	box-sizing: border-box;
	font-size: 16px;
	position: relative;
	z-index: 5;
	background: none;
}
.brise-input input:focus ~ label, input:valid ~ label  {
	top: 0px;
	transform: scale(0.94) translateX(-2px);
	color: #4485c5;
}
.brise-input .line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: #4485c5;
	left: -999px;
	transition: .25s;
	opacity: 0;
	z-index: 6;
}
.brise-input input:focus ~ .line {
	left: 0;
	opacity: 1;
}
.brise-input label {
	position: absolute;
	left: 10px;
	top: 45%;
	transition: ease-out .15s;
	color: #999;
}

/* End Inputs */


/* Textarea style */

.brise-text {
	margin: 5px;
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 15px;
}
.brise-text textarea {
	width: 100%!important;
	padding: 10px;
	border: none;
	outline: none;
	border: 1px solid #999;
	box-sizing: border-box;
	font-size: 16px;
	position: relative;
	z-index: 5;
	background: none;
}
.brise-text label {
	position: absolute;
	top: 20px;
	left: 10px;
	color: #999;
	opacity: 1;
	transition: .15s;
}
.brise-text textarea:focus ~ label, textarea:valid ~ label {
	opacity: 0;
}
/* End Textarea */


/* Checkbox style */

.brise-checkbox {
	display: inline-block;
	margin: 5px;
}
.brise-checkbox label {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	color: #999;
}
.brise-checkbox label input {
	display: none;
}
.brise-checkbox label .checkbox {
	display: block;
	width: 17px;
	height: 17px;
	border: 1px solid #999;
	margin-right: 10px;
	transition: .15s;
	position: relative;
}
.brise-checkbox label .checkbox::before {
	content: '';
	position: absolute;
	left: 3px;
	top: 3px;
	bottom: 3px;
	right: 3px;
	width: 11px;
	height: 11px;
	background: #4485c5;
	opacity: 0;
	transform: scale(1.5);
	transition: ease-out .15s
	
}
.brise-checkbox label input:checked ~ .checkbox::before {
	transform: scale(1);
	opacity: 1;
}
.brise-checkbox label input:checked ~ .label {
	color: #4485c5;
}
.brise-checkbox label input:checked ~ .checkbox{
	border: 1px solid #4485c5;
}

/* End Checkbox */

/* Radio Style */

.brise-radio {
	display: inline-block;
	margin: 5px;
}
.brise-radio label {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	color: #999;
}
.brise-radio label input {
	display: none;
}
.brise-radio label .radio {
	display: block;
	width: 17px;
	height: 17px;
	border: 1px solid #999;
	border-radius: 50%;
	margin-right: 10px;
	transition: .15s;
	position: relative;
}
.brise-radio label .radio::before {
	content: '';
	position: absolute;
	left: 3px;
	top: 3px;
	bottom: 3px;
	right: 3px;
	width: 11px;
	height: 11px;
	background: #4485c5;
	border-radius: 50%;
	opacity: 0;
	transform: scale(1.5);
	transition: ease-out .15s
	
}
.brise-radio label input:checked ~ .radio::before {
	transform: scale(1);
	opacity: 1;
}
.brise-radio label input:checked ~ .label {
	color: #4485c5;
}
.brise-radio label input:checked ~ .radio{
	border: 1px solid #4485c5;
}
/* End Radio */

/* Upload style */

.brise-upload label, .brise-btn {
	margin: 10px 0;
	margin-bottom: 10px;
	width: auto;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	background: #4485c5;
	font-size: 16px;
	padding: 8px 20px;
	transition: .15s;
	border: none;
}
.brise-upload label:hover,.brise-btn:hover{
	background: #659cd2;
	transition: .15s;
} 
.brise-upload label input {
	display: none;
}
.brise-btn {
	font-size: 20px;
	padding: 10px 40px;
}
/* End upload */


/* Custom CSS */

/* Navigationbar css */
/* .navigation-holder > button:nth-child(n+1){
  margin-right: 5px;
} */

.title-holder {
  margin-top: 10px;
  text-transform: uppercase;
}

.navigation-holder {
  display: flex;
}

.navigation-holder > a {
  flex: auto;
}

.navigation-holder > a > .btn-mat {
  width: 100%;
  margin: 0;
  border-radius: 0;
}

.select{
	width: 100%;
}

.text-lt {
  color: #000000ab;
}

input[type=date] {
  padding: 5px;
  border-radius: 11px;
  border: 1px solid #9d9797;
  margin-bottom: 10px;
}

.mini-grid-cell {
  width: 25%;
  display: inline-block;
  margin-bottom: 10px;
}

.date-picker-container {
  width: 17%;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.satellite-container > .container-flex {
  padding: 0 50px;
}

/* Detection */
.detection-container {
  padding: 15px;
}

.input-preview, .input-preview > div > div {
  margin: 0 auto;
  min-width: 350px;
  min-height: 450px;
}

.help-text {
  margin-top: 5px;
  color: #ccc;
}

.filter-container {
  padding: 15px;
  width: 100%;
  display: inline-block;
}

.filter-container > .country-filter-container {
	float: right;
}

.brise-input {
  display: inline-block;
}

.output-container {
  padding: 0 15px;
  display: flex;
  position: relative;
}

.output-container > div {
  flex: auto;
  width: 45%;
}

.output-container > div > img {
  width: 39%;
  margin: 0 auto;
  display: inherit;
}
.image-container {
	padding: 20px;
}
.image-container > img {
	width: 325px;
	padding: 5px;
}
.img-preview-satellite {
	width: 500px !important;
	padding: 5px;
}
.custom-fluid {
	display: inline-block;
}

.input-preview img, .img-preview {
    width: 550px;
    margin-bottom: 10px;
}

.spinner > img {
	position: fixed;
    width: 50px;
    left: 56.5%;
    top: 13%;
    border-radius: 32px;
}

.spinner-detection > img {
	position: fixed;
    width: 50px;
    left: 55.5%;
    top: 73%;
    border-radius: 32px;
}

.hidden {
	display: none;
}

.analytics-image-container.yolo-container > img{
	width: 500px;
	height: 350px;
}
.analytics-image-container > img {
	margin-top: 15px;
	margin-bottom: 15px;
}

.tile-container > .tile {
    color: #fff;
    width: 50%;
    display: inline-block;
    background: #df5a5aed;
    padding: 50px;
    text-align: right;
    font-size: 50px;
    position: relative;
    border: 10px solid #fff;
}

.tile > p {
	font-size: 16px;
    text-align: left;
}

.tile > img {
	height: 71px;
    position: absolute;
    top: 85px;
    left: 63%;
}

.full-input {
	width: 100%;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.input-preview {
	margin-bottom: 20px;
}

.input-img-holder > input {
	margin-left: 100px;
}

.input-img-holder.brise-input > input {
	margin-left : 0;
}

/* Magnify */
.output-container > div.progression-holder > img {
	width: 34%;
    margin: 20px;
    display: initial;
}

.progression-holder{
	position: relative;
}

.parent-grid {
	display: grid;
	/* grid-template-columns: repeat(16, 1fr) minmax(200px, 1fr); */
	grid-template-columns: repeat(16, 1fr);
	/* overflow: hidden; */
	grid-template-rows: repeat(16, 1fr);
	/* grid-gap: 15px; */
	/* height: 478px; */
    width: 441px;
	height: 441px;
    margin: 0 auto;
	position: absolute;
    top: 6%;
    left: 16.6%;
}
  
  
.mini-grid {
	border-radius: 3px;
	text-align: center;
	color: white;
	height: 27px;
	width: 100%;
	border: 1px solid #ccc;
	cursor: pointer;
}

.deep-parent-grid.left-top {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 468px;
    height: 458px;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    right: 135px;
	background: linear-gradient(-45deg, #fff, #e7603b);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 2s cubic-bezier(0.4, 0, 1, 1);
}

.deep-parent-grid.left-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 468px;
    height: 458px;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    right: 135px;
	background: linear-gradient(225deg, #fff, #e7603b);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 2s cubic-bezier(0.4, 0, 1, 1);
}
  
.deep-mini-grid {
	border-radius: 3px;
	text-align: center;
	color: white;
	height: 100%;
	width: 100%;
	border: 1px solid #ccc;
	cursor: pointer;
}

.deep-parent-grid:hover {
    background-position: left bottom;
}
.deep-mini-grid {
	border-radius: 3px;
	text-align: center;
	color: white;
	height: 100%;
	width: 100%;
	border: 1px solid #ccc;
	cursor: pointer;
}

/* .deep-parent-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 468px;
    height: 458px;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    right: 135px;
	background: linear-gradient(-45deg, #fff, #e7603b);
	background-repeat: no-repeat;
	transition: background-size 3s, color 3s;
}
.deep-parent-grid.center-right-left, .deep-parent-grid.center-top-bottom, .deep-parent-grid.center-corner {
	background-position: 50% 50%;
}
.deep-parent-grid.to-left {
	background-position: 100% 20%;
}
.deep-parent-grid.to-right {
	background-position: 0% 50%;
}
.deep-parent-grid.to-top {
	background-position: 50% 100%;
}
.deep-parent-grid.to-bottom {
	background-position: 50% 0%;
}
.deep-parent-grid.center-right-left, .deep-parent-grid.to-left, .deep-parent-grid.to-right {
	background-size: 0% 100%;
}
.deep-parent-grid.center-top-bottom, .deep-parent-grid.to-top, .deep-parent-grid.to-bottom {
	background-size: 100% 0%;
}
.deep-parent-grid.center-corner {
	background-size: 0% 0%;
}
.deep-parent-grid:hover {
	background-size: 100% 100%;
	color: #fff;
} */

.pointer {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    right: 342px;
    top: 225px;
    border-radius: 50px;
	transition: all 3s ease;
}
.pointer.left {
	transform: translateX(-200px);
}
.pointer.right {
	transform: translateX(200px);
}
.pointer.bottom {
	transform: translateY(200px);
}
.pointer.top {
	transform: translateY(-200px);
}
.pointer.right-bottom {
	transform: translate(150px,150px);
}
.pointer.left-bottom {
	transform: translate(-150px,150px);
}
.pointer.right-top {
	transform: translate(150px,-150px);
}
.pointer.left-top {
	transform: translate(-150px,-150px);
}

.detection-cordinates {
    position: absolute;
    top: -8px;
    right: 11%;
    font-weight: 200;
}

.detection-area {
	position: absolute;
    right: 15%;
    font-weight: 200;
}

.advanced-result, .advanced-result-update {
	margin-top: 50px;
	text-align: center;
	position: relative;
}

.advanced-result > img {
	width: 461px;
    display: initial;
    height: 515px;
    margin-top: -10px;
	cursor: pointer;
}

.advanced-result-update > img {
	width: 500px;
    display: initial;
    height: 515px;
	cursor: pointer;
}

.parent-grid-advanced, .parent-grid-advanced-update {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
    width: 455px;
    height: 451px;
    margin: 0 auto;
    position: absolute;
    top: 6%;
    left: 34.8%;
}
  
.mini-grid-advanced {
    text-align: center;
    color: white;
    height: 12px;
    width: 12px;
    cursor: pointer;
    transition: all 3s ease;
	border-radius: 50px;
}

.mini-grid-advanced.checked {
	background-color: #ff0505;
}

/* Overview */
#home {
	width: 100%;
	height: 100%;
	background-color: #151515;
	
	background-repeat: no-repeat;
	background-position: center 30%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	min-height: 804px;
	position: relative;
}
#home .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	background-color: #19191b;
}

.home-content-table {
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
	text-align: center;
}

.home-content-tablecell {
	display: table-cell;
	vertical-align: middle;
	z-index: 500;
}
.home-content-tablecell .row {
	position: relative;
	padding-top: 16.2rem;
	padding-bottom: 15rem;
}
.home-content-tablecell h3 {
	font-family: "montserrat-bold", sans-serif;
	font-size: 2.2rem;
	color: white;
	text-transform: uppercase;
	letter-spacing: .3rem;
	margin: 0 0 .9rem 0;
}
.home-content-tablecell h1 {
	font-family: cursive;
	font-size: 2rem;
	line-height: 1.133;
	color: #FFFFFF;
}
.home-content-tablecell .more {
	margin: 4.8rem 0 0 0;
}
.home-content-tablecell .more .button {
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.about-wrap {
	max-width: 1075px;
    margin: 20px auto;
}

.home-content-tablecell .more .button {
    border-color: #FFFFFF;
    color: #FFFFFF;
	padding: 13px;
}

button.stroke, .button.stroke {
    background: transparent !important;
    border: 3px solid #313131;
    line-height: 4.8rem;
}

.overview-container {
	background: #d06b13;
    color: #fff;
	font-family: cursive;
}

.lead {
	line-height: 34px;
}

h3.animate-this::before {
	display: block;
	content: "";
	width: 3px;
	height: 6.6rem;
	background-color: rgba(149, 149, 149, 0.7);
	margin: 0 auto 2.4rem;
}

.cubicle {
	margin-top: 50px;
}

.cubicle.black > div {
	border: 1px solid #000;
	padding: 75px 0;
}

.cubicle > div {
	border: 1px solid #fff;
	padding: 75px 0;
}